/* global Styles */
*, body {
    margin: 0; padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: none;
}

body{
    overflow-x: hidden;
}

/* theme variables (dark mode) */
:root{
    --navbar-bg: black;
    --text-color: #f6f4ff;

    --background-primary: rgb(2,0,36);
    --background-secondary: rgb(17, 13, 79);
    --background-tertiary: rgb(33, 26, 130);
    --background-quaternary: rgb(41, 31, 190);

    --cursor-middle-color: rgb(39, 162, 233);
    --alt-bg: #b5a3f0;

    --menu-close-color: rgb(231, 46, 151);
}

/* light mode variables */
.light-mode {

    --navbar-bg: #e8e2f3;
    --text-color: #2a1a40;

    --background-primary: #f6f4ff;
    --background-secondary: #e3dbfa;
    --background-tertiary: #c7b8f5;
    --background-quaternary: #b5a3f0;

    --cursor-middle-color: rgb(233, 39, 116);
    --alt-bg: rgb(2,0,36);

    --invert-value: 0;
}

/* main styles */
body{
    min-height: 200vh;
    font-family: 'Tajawal';
    background-color: var(--background-primary);
    color: var(--text-color);
}
li{list-style: none;}
a{
    text-decoration: none;
    color: var(--text-color);
}

/* fonts */

@font-face {
    font-family: 'Monaco';
    src: url('../font/Monaco.ttf');
}

/* keyframes */
@keyframes horizontal-fadein {
    from {
        visibility: hidden;
        opacity: 0; filter: blur(10px);
        transform: translateX(var(--offset));
    }
    to {
        visibility: visible;
        opacity: 1; filter: blur(0px);
        transform: translateX(0);
    }
}

@keyframes vertical-fadein {
    from {
        visibility: hidden;
        opacity: 0; filter: blur(10px);
        transform: translateY(var(--offset));
    }
    to {
        visibility: visible;
        opacity: 1; filter: blur(0px);
        transform: translateY(0);
    }
}

/* css 'functions' */
.cinzelDecorative{
    font-family: 'Cinzel Decorative';
}
.uppercase{
    text-transform: uppercase;
}

.underline-hover-animation::after{
    content: '';
    width: 105%; height: 2px;

    position: absolute;
    bottom: 0px; left: 50%;

    background-color: var(--background-quaternary);

    transform: translateX(-50%) scaleX(0);
    transition: transform .3s ease;
}
.underline-hover-animation:hover::after{
    transform: translateX(-50%) scaleX(1);
}

.fadein-utd, .fadein-dtu {animation: vertical-fadein 1s ease forwards;}
.fadein-ltr, .fadein-rtl {animation: horizontal-fadein 1s ease forwards;}
.fadein-utd { --offset: -200px; }
.fadein-dtu { --offset: 200px; }
.fadein-ltr { --offset: -200px; }
.fadein-rtl { --offset: 200px; }

.prevent-from-select{
    /* avoids text selection when 
    a button/div is pressed */
    user-select: none;
}

.circle {
    will-change: transform;
}

/* header */
#header{
    width: 100%; height: 100vh;
    max-height: 1200px;

    position: relative; z-index: 1;
    overflow: hidden;

    background-color: var(--background-primary);
}.circles{
    width: 50%; height: 35%;

    position: absolute; z-index: 1;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center; align-items: center;
}.header-text{
    width: 100%; height: 100%;
    z-index: 2;

    display: flex;
    justify-content: center; align-items: center;

    font-size: clamp(12px, 4vw, 120px);

    border-radius: 15px;
    box-shadow: inset 0px 2px 10px color-mix(in srgb, var(--background-quaternary), transparent 80%);
    backdrop-filter: blur(15px);
}
.c1{
    --parallax-circle-radius: 80vw;
    --parallax-circle-posX: -50vw;
    --parallax-circle-posY: -60vw;
    background: var(--background-tertiary);
    background: radial-gradient(circle, var(--background-tertiary) 0%, var(--background-secondary) 35%, var(--background-primary) 100%);
    box-shadow: inset -20px -10px 30px var(--background-secondary);
}
.c2{
    --parallax-circle-radius: 120vw;
    --parallax-circle-posX: -10vw;
    --parallax-circle-posY: 25vh;
    background: var(--background-quaternary);
    background: radial-gradient(circle, var(--background-quaternary) 0%, var(--background-tertiary) 35%, var(--background-primary) 100%);
    box-shadow: inset 15px 5px 25px var(--background-quaternary);
}
.c3{
    --parallax-circle-radius: 40vw;
    --parallax-circle-posX: 45vw;
    --parallax-circle-posY: -30vw;
    background: var(--background-secondary);
    background: radial-gradient(circle, var(--background-secondary) 0%, var(--background-primary) 100%);
    box-shadow: inset 10px 0 20px var(--background-secondary);
    z-index: 2; /* 3rd circle is on top of the header title */
}

.circle{
    width: var(--parallax-circle-radius); height: var(--parallax-circle-radius);
    position: absolute;
    top: var(--parallax-circle-posY); left: var(--parallax-circle-posX);
    border-radius: 50%;
}

/* footer */
#footer {
    padding: 20px;
    position: relative; z-index: 1;

    background-color: var(--background-tertiary);
}.footer-container {
    padding-block: 20px;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;

    font-family: 'Montserrat';
    font-weight: 100;
    ul {
        display: flex; flex-wrap: wrap;
    }
    li{
        margin: 20px;
        a{
            width: 100%; height: 100%;
        }
    }
}.footer-link{
    font-weight: 400;
}