{% extends 'pf_base.html' %}

{% block content %}

    <main id="projects">
        {% for project in projects %}
            <section class="project-container">
                <div class="date">
                    <h3>{{ project["year"] }}</h3>
                </div>
                <div class="projects">
                    {% for p in project['project_list'] %}
                        <div class="project">
                            <a href="{{ url_for(p['url']) }}">{{ p['name'] }}</a>
                            <p class="status">{{ p['status'] }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
    </main>
    
{% endblock %}