<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='portfolio/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='portfolio/css/aboutme.css') }}">

    <title>Portfolio | About Me</title>
</head>
<body>
    <nav id="navbar">
        <div class="left-box">
            <a href="{{ url_for('portfolio_app.index') }}">home</a>
            <a href="{{ url_for('portfolio_app.aboutme') }}">about</a>
        </div>
    </nav>

    <main id="aboutme">
        <section class="aboutme">
            <h2 class="title">About Me</h2>

            <div class="text">
                <h3>Hello!</h3>

                <p>I'm a student on a journey to becoming a full-stack web developer, and lately, I have an interest in front-end and back-end development. I believe great design isn't just about making things pretty; it's about making it work beautiful. Either learning new frameworks or debugging tricky issues, I'm all about crafting solutions that feel right.</p>

                <p>When I’m not coding, I’m often brainstorming creative ways to improve my skills—like turning everyday challenges into coding projects. My philosophy? "Good design is like architecture: it’s not just about how it looks, but how it stands the test of time."</p>

                <p>With the growth in my skill set, I have already started working on projects that combine clean code with intuitive design. My aim is to be that developer who takes ideas and shapes them into seamless impactful user experiences.</p>

                <p>Thanks for stopping by my portfolio! It's a space where creativity meets continuous learning; I am excited to share this journey with you.</p>

                <p class="end">Let’s build something awesome together!</p>
            </div>
        </section>
    </main>
</body>
</html>