<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Harmattan:wght@400;500;600;700&family=Montserrat:wght@100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='QuranTraining/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='QuranTraining/css/loading_screen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='QuranTraining/css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='QuranTraining/css/surah_choice.css') }}">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='assets/icons/QuranTraining/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='assets/icons/QuranTraining/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='assets/icons/QuranTraining/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='assets/icons/QuranTraining/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='assets/icons/QuranTraining/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='assets/icons/QuranTraining/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='assets/icons/QuranTraining/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='assets/icons/QuranTraining/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/icons/QuranTraining/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='assets/icons/QuranTraining/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/icons/QuranTraining/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='assets/icons/QuranTraining/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/icons/QuranTraining/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='assets/icons/QuranTraining/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='assets/icons/QuranTraining/ms-icon-310x310.png') }}">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-config" content="{{ url_for('static', filename='assets/icons/QuranTraining/browserconfig.xml') }}">

    <meta name="description" content="QuranTraining is an open-source application designed to assist with memorizing Quranic surahs." />

    <script src="{{ url_for('static', filename='QuranTraining/js/main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='QuranTraining/js/surah_choice.js') }}" defer></script>

    <title>QuranTraining</title>
</head>
<body>

    <section id="loading-screen" class="cinzelDecorative">
        <div class="ls-text-container">
            <div class="first-text">
                <h1 class="first-letter">Q</h1>
                <h1 class="next-letters">uran</h1>
            </div>
            <div class="second-text">
                <h1 class="first-letter">T</h1>
                <h1 class="next-letters">raininG</h1>
            </div>
        </div>
    </section>

    <section id="notify-user">
        
    </section>

    <div class="cursor">
        <div class="tracker"></div>
        <div class="currentCursor"></div>
    </div>

    <nav id="navbar">
        <div class="navbg"></div>
        <div class="floating-menu">
            <div class="navbar-preferences">
                <button id="toggle-theme" class="menu-btn hover-cursor-event prevent-from-select" onclick="toggleTheme()">{{ _('Toggle Dark/Light Theme') }}</button>
                <button id="del-data" class="menu-btn hover-cursor-event prevent-from-select" onclick="deleteUserData()">{{ _('Delete your data') }}</button>
            </div>
        </div>
        <ul class="navlist">
            <li class="logo prevent-from-select">
                <a href="{{ url_for('quran_app.home') }}" class="hover-cursor-event cinzelDecorative">Quran TraininG</a>
            </li>
            <ul class="sublist">
                <li class="features">
                    <a href="{{ url_for('quran_app.home') }}#features" class="uppercase underline-hover-animation hover-cursor-event">{{ _('Features') }}</a>
                </li>
                <li class="menu">
                    <div class="menu-logo hover-cursor-event" onclick="toggleMenu()">
                        <div class="upper-layer"></div>
                        <div class="lower-layer"></div>
                    </div>
                </li>
            </ul>
        </ul>
    </nav>

    <header id="header">
        <div class="header-bg">
            <div class="circles">
                <h1 class="header-text fadein-ltr prevent-from-select cinzelDecorative">السلام عليكم ورحمة الله وبركاته</h1>
                <div class="circle c1"></div>
                <div class="circle c2"></div>
                <div class="circle c3"></div>
            </div>
        </div>
    </header>

    <main id="main">
        {% block content %}
        {% endblock %}
    </main>

    <footer id="footer">
        <div class="footer-container">
            <ul>
                <li><a href="https://github.com/seyyko" class="hover-cursor-event footer-link" target="_blank">GitHub</a></li>
                <li><a href="mailto:hchamrouk.pro@gmail.com" class="hover-cursor-event footer-link">Email</a></li>
            </ul>
            <p>&copy; 2024 <a href="https://hchamrouk.com" class="hover-cursor-event footer-link" target="_blank">hchamrouk.com</a>. {{ _('All rights reserved.') }}</p>
        </div>
    </footer>

    <script>
        // translate text with flask-babel
        var gettext = function(msgid) {
            var translations = {
                "Click and Select Surahs to Memorize": "{{ _('Click and Select Surahs to Memorize') }}",
                "Translation": "{{ _('Translation') }}",
                "Recitation type": "{{ _('Recitation type') }}",
                "Random part": "{{ _('Random part') }}",
                "start": "{{ _('start') }}",
                "middle": "{{ _('middle') }}",
                "end": "{{ _('end') }}",
                "clear": "{{ _('clear') }}",
                "previous": "{{ _('previous') }}",
                "generate": "{{ _('generate') }}",
                "No verses to display.": "{{ _('No verses to display.') }}",
                "Click again to hide": "{{ _('Click again to hide') }}",
                "No surahs selected.": "{{ _('No surahs selected.') }}",
                "Show answer": "{{ _('Show answer') }}",
                "Next": "{{ _('Next') }}",
                "Delete your data": "{{ _('Delete your data') }}",
                "Features": "{{ _('Features') }}",
                "About": "{{ _('About') }}",
                "Toggle Dark/Light Theme": "{{ _('Toggle Dark/Light Theme') }}",
                "Current verse": "{{ _('Current verse') }}",
                "Full surah": "{{ _('Full surah') }}",
                "Click to modify preferences": "{{ _('Click to modify preferences') }}",
                "Go to verse": "{{ _('Go to verse') }}",
                "Are you sure you want to delete all your data? This action cannot be undone.": "{{ _('Are you sure you want to delete all your data? This action cannot be undone.') }}",
                "All your data has been deleted.": "{{ _('All your data has been deleted.') }}"
            };
            return translations[msgid] || msgid;
        };
    </script>
    
</body>
</html>
