{% extends 'base.html' %}

{% block content %}

<section id="surah">
    <form method="POST" class="surah-form">
        <div id="surah-container" class="scroll-cursor-event">
            {% for surah in surahs %}
                <label class="surah-btn hover-cursor-event">
                    <input class="surah-checkbox" type="checkbox" name="surah" value="{{ surah }}" onclick="changeBtnBg(this)">
                    <div class="surah-name">
                        <p class="surah-name-index">{{ loop.index }}.</p>
                        <p class="surah-name-text">{{ surah }}</p>
                    </div>
                </label>
            {% endfor %}
        </div>
        <div class="button-container">
            <div class="select-btn">
                <button type="button" class="hover-cursor-event select-all" onclick="selectAllCheckboxes()">+</button>
                <button type="button" class="hover-cursor-event clear-all" onclick="deselectAllCheckboxes()">x</button>
            </div>
            <div class="submit-btn">
                <button type="submit" class="hover-cursor-event submit uppercase">{{ _('Submit') }}</button>
            </div>
        </div>
    </form>
    <div class="title-surah-choice hover-cursor-event" onclick="toggleSurahChoice()">
        <p>{{ _('Click and Select Surahs to Memorize') }}</p>
    </div>

    <section id="training" class="training">

        <div class="verse-preferences">
            <div class="preferences-container">
                <div class="all-preferences">
                    <div class="language-preferences">
                        <p>{{ _('Translation') }}</p>
                        <div class="slider-bg language-slider hover-cursor-event prevent-from-select" onclick="slide(this)">
                            <div class="language-slider slider"></div>
                            <div class="switch-btn en">en</div>
                            <div class="switch-btn fr">fr</div>
                        </div>
                    </div>
                    <div class="text-preferences">
                        <p>{{ _('Recitation type') }}</p>
                        <div class="slider-bg text-slider hover-cursor-event prevent-from-select" onclick="slide(this)">
                            <div class="text-slider slider"></div>
                            <div class="switch-btn hafs">hafs</div>
                            <div class="switch-btn warsh">warsh</div>
                        </div>
                    </div>
                    <div class="verse-part-preferences">
                        <p>{{ _('Random part') }}</p>
                        <div class="slider-container hover-cursor-event prevent-from-select">
                            <div class="slider-button"></div>
                            <div class="slider-label label-start">{{ _('start') }}</div>
                            <div class="slider-label label-middle">{{ _('middle') }}</div>
                            <div class="slider-label label-end">{{ _('end') }}</div>
                        </div>
                    </div>
                </div>
                <div class="reciter-container">
                    <label for="reciter">Choose a reciter:</label>
                    <select name="reciter" id="reciter" onchange="saveReciter()">
                        <option value="abdulbasitmurattal">Abdul Basit Murattal</option>
                        <option value="abdullahbasfar">Abdullah Basfar</option>
                        <option value="abdurrahmaansudais">Abdurrahman Sudais</option>
                        <option value="abdulsamad">Abdul Samad</option>
                        <option value="shaatree">Shaatree</option>
                        <option value="ahmedajamy">Ahmed Ajamy</option>
                        <option value="alafasy">Mishary Alafasy</option>
                        <option value="hanirifai">Hani Rifai</option>
                        <option value="husary">Husary</option>
                        <option value="husarymujawwad">Husary Mujawwad</option>
                        <option value="hudhaify">Hudhaify</option>
                        <option value="ibrahimakhbar">Ibrahim Akbar</option>
                        <option value="mahermuaiqly">Maher Al Muaiqly</option>
                        <option value="minshawi">Minshawi</option>
                        <option value="minshawimujawwad">Minshawi Mujawwad</option>
                        <option value="muhammadayyoub">Muhammad Ayyoub</option>
                        <option value="muhammadjibreel">Muhammad Jibreel</option>
                        <option value="saoodshuraym">Saood Shuraym</option>
                    </select>
                </div>
            </div>
            <div class="title-verses-preferences hover-cursor-event" onclick="toggleVersePreferences()">
                <p>{{ _('Click to modify preferences') }}</p>
            </div>
        </div>

        <!-- <div class="surah-container">
            <h1>Surah selected :</h1>
            <div class="selected-surahs"> </div>
        </div> -->
        <div class="verse-display-container">
            <div id="verse-display" class="offset-anchor"></div>
            <div class="verse-btn-box">
                <button class="verse-btn hover-cursor-event clear-history uppercase prevent-from-select" onclick="clearHistory()">{{ _('clear') }}</button>
                <button class="verse-btn hover-cursor-event previous-verse uppercase prevent-from-select" onclick="previousVerse()">{{ _('previous') }}</button>
                <button class="verse-btn hover-cursor-event next-verse uppercase prevent-from-select" onclick="nextVerse()">{{ _('generate') }}</button>
            </div>
        
            <div class="verse-display">
                <p>{{ _('No verses to display.') }}</p>
            </div>
        </div>
    </section>
</section>

<a class="scroll-up hover-cursor-event uppercase prevent-from-select" href="#verse-display">↑</a>

{% endblock %}